<form class="training-form" #trainingForm="ngForm" (ngSubmit)="onSubmit(trainingForm)">
  <input type="hidden" name="Id" #EmployeeID="ngModel" [(ngModel)]="trainingService.selectedTraining.Id">
  <div class="form-row">
    
  </div>
  <div class="form-group col-md-12">
    <input class="form-control" name="TrainingName" #TrainingName="ngModel" [(ngModel)]="trainingService.selectedTraining.TrainingName"
      placeholder="Training Name" required>
    <div class="validation-error" *ngIf="TrainingName.invalid && TrainingName.touched">This Field is Required.</div>
  </div>
  <div class="form-group col-md-12">
    <input class="form-control" name="StartDate" #StartDate="ngModel" [(ngModel)]="trainingService.selectedTraining.StartDate" placeholder="Start Date"
      required>
    <div class="validation-error" *ngIf="StartDate.invalid && StartDate.touched">This Field is Required.</div>
  </div>
  <div class="form-group col-md-12">
    <input class="form-control" name="LastDate" #LastDate="ngModel" [(ngModel)]="trainingService.selectedTraining.LastDate" placeholder="Last Date"
      required>
    <div class="validation-error" *ngIf="LastDate.invalid && LastDate.touched">This Field is Required.</div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!trainingForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(trainingForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>